/*
Alexander:
 - Hovedansvar for HTML og CSS
 
Johan:
 - Var med på Main-style
*/
html, body{
    background-color: darkred;
    width: 100% auto;
    height: 100% auto;
}
/*START HEADER*/
header{
    position: relative;
    width: 100% auto;
    background-color: rgb(40,40,40);
    margin: auto;
    margin-bottom: 1%;
    margin-top: -1%;
    overflow: hidden;

}
h1{
    text-align: center;
    color: whitesmoke;
    font-size: 280%;
    -webkit-animation: headeranim 3s infinite;
    margin-top: 1%;
    font-family: 'Oswald', sans-serif;
}
@keyframes headeranim{
    0%{
        color:red
    }
    100%{
        color: coral;
    }
}

.claw{
    position: absolute;
    width: 25% auto;
    top: -90%;
    left: -4%;
    opacity: 0.6;
    z-index: 5;
}
/*END HEADER*/
#main-container{
    position: relative;
    width: 100% auto;
    overflow: hidden;
    padding: 2%;
    background-color: rgb(40,40,40);
    margin: auto;
    overflow: hidden;
}

/*START NAV*/
#nav{
   position: relative;
    width: 98.3% auto;
    height: 80px;
    background-color: rgb(66,68,68);
    margin: auto;
    overflow: hidden;
    margin: -1.5%;
    padding: 0.3%;
    border-style: solid;
    border-color: aliceblue;
}
.person{
    position: absolute;
    width: 100%;
    z-index: 100;
}
.stand{
    position: absolute;
    width: 100%;
    z-index: 99;
    
}
/*GO HOME*/
#home-wrap{
    position: absolute;
    width: 5%;
    height: 55%;
    left: 1.5%;
    bottom: 30%;
    z-index: 200;
}
#home-btn{
    width: 80%;
    bottom: 0;
    cursor: pointer;
}

/*CHOOSER 1*/
#person-1-wrap{
    position: absolute;
    width: 3%;
    height: 80%;
    left: 7.5%;
    bottom: 16%;
    opacity: 0.5;
    
}
.person-1{
    bottom: 1%;
    left: 30%;
}
.stand-1{
    bottom: -6%;
    left: 30%;
}
#person-1-wrap:hover{
    opacity: 1;
}
/*CHOOSER 2*/
#person-2-wrap{
    position: absolute;
    width: 3%;
    height: 80%;
    left: 14%;
    bottom: 16%;
    opacity: 0.5;
}
.person-2{
    width:45%;
    bottom: 1%;
    left: 60%;
}
.stand-2{
    bottom: -6%;
    left: 30%;
}
#person-2-wrap:hover{
    opacity: 1;
}
/*CHOOSER 3*/
#person-3-wrap{
    position: absolute;
    width: 3%;
    height: 80%;
    left: 20%;
    bottom: 16%;
    opacity: 0.5;
    
}
.person-3{
    width: 130%;
    bottom: 3%;
    left: 22%;
}
.stand-3{
    bottom: -6%;
    left: 30%;
}
#person-3-wrap:hover{
    opacity: 1;
}
/*CHOOSER 4*/
#person-4-wrap{
    position: absolute;
    width: 3%;
    height: 80%;
    left: 27%;
    bottom: 16%;
    opacity: 0.5;
    
}
.person-4{
    width: 33px;
    bottom: 1%;
    left: 44%;
}


.stand-4{
    bottom: -6%;
    left: 30%;
}
#person-4-wrap:hover{
    opacity: 1;
}
/*END NAV*/
/*START MAIN*/
#person-main-wrap{
    position: relative;
    width: 25%;
    padding-top:10%;
    padding-bottom: 39%;
    margin: auto;
    z-index: 100;
}
#person-text{
    position: absolute;
    text-align: center;
    color: wheat;
    background-color: blue;
    padding: 2%;
    border-radius: 40%;
    font-size: 300%;
    left: 57%;
    top: -12%;
    z-index: 10;
    display: none;
    
}
.hitler-main{
    width: 95%;
    left: 10%;
    bottom: 10%;
    opacity: 0;
    -webkit-animation: main-anim 8s forwards;
}
.stalin-main{
    width: 44%;
    left: 33%;
    bottom: 10%;
    opacity: 0;
    -webkit-animation: main-anim 8s forwards;
}
.person-3-main{
    width: 130%;
    left: -3%;
    bottom: 10%;
    opacity: 0;
    -webkit-animation: main-anim 8s forwards;
}
.future-main{
    width: 62%;
    left: 25%;
    bottom: 10%;
    opacity: 0;
    -webkit-animation: main-anim 8s forwards;
}
.stand-5{
    width: 80%;
    left: 16%;
    bottom: 1%;
}
@keyframes main-anim{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
       opacity: 1;  
    }
}
.hitler-main:hover ~ #person-text{
   display: block;
}
/*END MAIN*/
/*START ARROW*/
.arrow{
    position: absolute;
    width: 100%;
    top: 30%;
}
/*START LEFT ARROW*/
#left-arrow{
    position: absolute;
    width: 10%;
    height: 90%;
    bottom: 9%;
    left: 1%;
    opacity: 0.5;
}
#left-arrow:hover{
    opacity: 1;
}
/*END LEFT ARROW*/
/*START RIGHT ARROW*/
#right-arrow{
    position: absolute;
    width: 10%;
    height: 90%;
    bottom: 9%;
    right: 1%; 
    opacity: 0.5;
}
#right-arrow:hover{
    opacity: 1;
}
/*END RIGHT ARROW*/
/*END ARROW*/
/*START INFO-BOX*/
.info-box{
    position: absolute;
    width: 19.7%;
    height: 38.5%;
    z-index: 100;
    margin-bottom: 1%;
}
.header-box{
    position: absolute;
    width: 100%;
    height: 23%;
    background-color: rgb(66,68,68);
    border-style: solid;
    border-color: black;
    opacity: 0.5;
}
.header-title{
    text-align: center;
    font-size: 200%;
    margin-top: 7%;
    color: azure;
}
.header-text-box{
    position: absolute;
    top: 23%;
    width: 100%;
    height: 77%;
    background-color: rgb(66,68,68);
    border-style: solid;
    border-color: black;
    display: none;
}
.header-text, p{
    color: white;
    font-size: 95%;
    text-align: center;
}
li{
    color: white;
    font-size: 95%;   
}
.header-box:hover ~ .header-text-box{
    display: block;
}
/*START INFO-BOX-1*/
.box-1{
    top: 20%;
    left: 17.5%;
    z-index: 100;
}
/*END INFO-BOX-1*/
/*START INFO-BOX-2*/
.box-2{
    top: 60%;
    left: 17.5%;
    z-index: 100;
}
/*END INFO-BOX-2*/
/*START INFO-BOX-3*/
.box-3{
    top: 20%;
    left: 63.5%;
    z-index: 100;
}
/*END INFO-BOX-3*/
/*START INFO-BOX-4*/
.box-4{
    top: 60%;
    left: 63.5%;
    z-index: 100;
}
.header-box:hover{
    opacity: 1;
}
/*END INFO-BOX-4*/
/*END INFO-BOX*/
/*START FOOTER*/
#footer{
    position: relative;
    width: 100% auto;
    background-color: rgb(40,40,40);
    margin: auto;
    margin-top: 4px;
    overflow: hidden;
}
#footer-text{
    text-align: center;
    color: wheat;
    margin: 1%;
}
/*END FOOTER*/
